
	/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
  	width: 91.53%;
}
.span_10_of_12 {
  	width: 83.06%;
}

.span_9_of_12 {
  	width: 74.6%;
}

.span_8_of_12 {
  	width: 66.13%;
}

.span_7_of_12 {
  	width: 57.66%;
}

.span_6_of_12 {
  	width: 49.2%;
}

.span_5_of_12 {
  	width: 40.73%;
}

.span_4_of_12 {
  	width: 32.26%;
}

.span_3_of_12 {
  	width: 23.8%;
}

.span_2_of_12 {
  	width: 15.33%;
}

.span_1_of_12 {
  	width: 6.866%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 1280px) {
	.col {  margin: 1% 0 1% 0%; }
    
    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
	width: 100%; 
	}
}


		body,html{
			margin:0;
			padding:0;
			background:rgb(22,22,22);
			color:white;
			display: block;
			width: 100%;
			height: 100%;
			font-family:"Open Sans", Helvetica, Arial, sans-serif;
		}

		div.nav{
			display: inline-block;
			background:rgb(26,26,26);
			width:100px;
			height: 100%;
			position: fixed;
		}

		#main{
			display: block;
			width:100%;
			height: 100%;

		}

		main{
			display: block;
			width: calc(100% - 100px);
			position: absolute;
			left:100px;
			top:0px;
		}

		li{
			list-style-type: none;
		}

		ul{
			padding:0px;
			width:100px;
			text-align: center;
			margin:0px;
		}

		.nav li:hover{
			background-color: #212121;
		}

		.playlist-track:hover {
    background-color: #212121;
}


		.logo{
			width:100px;
			height: 100px;
			border-bottom:3px solid black;
			background: url("../img/logo.png");
			background-repeat: no-repeat;
			background-position: center;
			display: block;
		}
		.nav .nav-items a{
			width:100%;
			height: 70px;
			cursor:pointer;
			 display: block;
			 text-align: center;
		}

		.nav .nav-items a img{
			width:100%;
			height: 70px;
			cursor:pointer;
			 filter: invert(0.5);
			 max-width: 25px;
			 display: inline-block;
		}

	

		.full-width{
			background-color: purple;
			display: block;
			width: 100%;
			height: 320px;

		}

		.container{
			width: 100%;
			display: block;
			float: left;
		}

		.container-padding{
			padding:20px;
			box-sizing: border-box;
		}

		#banner{
			background-image:  url("../img/eminem.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			background-position-y:-100px;
		}

		.row {
    display: block;
    float: left;
    width: 100%;
}

.more {
    display: block;
    float: left;
    width: 100%;
}




.playlist{
	background-color:rgb(26,26,26);
	display: block;
	width: 100%;
	margin-bottom: 20px
}

.playlist-header {
	background-color:rgb(236,255,55);
	color:black;
	font-weight: 900;
	padding:15px 20px;
	font-size:15px;
}




.playlist-track *{
	display: inline-block;
	vertical-align: middle;
}


.playlist-track {
    padding: 20px 20px;
    border-bottom: 2px solid black;
    position: relative;
    cursor: pointer;
}

.playlist-track:last-child {
	border-bottom:0px solid black;
}

.playlist-track .position{
	background-color: rgb(236,255,55);
	margin-right: 12px;
	font-size: 25px;
	width: 30px;
	height:30px;
	line-height: 30px;
	text-align: center;
	color:black;
	font-weight: 900;
	border-radius:100%;


}


.playlist-track .title, .playlist-track .artist{
	line-height: 30px;
	font-weight: 600;
}


.playlist-track .artist{
	line-height: 30px;
	font-weight: 300;
}

.playlist-track .track-position{
height: 2px;
    width: 100% !important;
    display: block;
    background-color: rgb(236,255,55);
    position: absolute;
    bottom: 0px;
    left: 0px;

}	

.playlist-red .position, .playlist-red .playlist-header, .playlist-red .track-position{
	background-color: rgb(241,151,0);
}

.playlist-blue .position, .playlist-blue .playlist-header, .playlist-blue .track-position{
	background-color: rgb(255,17,77);
}

.more a{
	width: 100%;
	display: block;
	text-align: center;
	line-height: 30px;
	vertical-align: center;
	color:rgb(163,163,163);
	font-weight: bolder;
}

.more a img{
	display:inline-block;
	vertical-align: middle;
	width:25px;
	margin-right: 5px;
	filter: invert(0.5);
}

#repeat-lounge{
	display: block;
	width: 100%;
	height: 260px;
	background-size: cover;
	background-position:center;
	background-image: url("../img/bg.png");
	background-attachment: fixed;
}



.latest-news{
	display: block;
	width: 70%;
	vertical-align: top;
	box-sizing: border-box;
	float: left;
	padding: 0px 20px;
}

.latest-news h3{
    padding: 15px 0px;
    font-weight: bolder;
    font-size: 15px;
    margin: 0px;
}

.sidebar{
	width: 30%;
	display:block;
	box-sizing: border-box;
	float:right;
	background-color: rgb(26,26,26)
}

.sidebar h3{
	background-color:rgb(255,17,77);
	color:white; 
	padding:15px 20px;
	font-weight: bolder;
	font-size:15px;
	margin:0px;
}

.sidebar .story-image{
	background-position: center;
	background-size: cover;
}



.sidebar .story-image.madonna{
	background-image: url("http://thatgrapejuice.net/wp-content/uploads/2015/03/madonna-rebel-heart3-thatgrapejuice.jpg");
	height:230px;

}


.sidebar .story-image.michael{
	background-image: url("../img/mj.png");
	height:230px;

}

.sidebar .story-summary{
	padding:20px;
	padding-bottom: 0px;
	text-align: justify;
		margin:0px;


}



.sidebar .story-cta{
	text-align: center;
	font-weight: 600;
	display: block;
	padding: 30px 0px;
	color:rgb(255,17,77);
	text-decoration: none;
	font-size: 14px

}

.sidebar .story-cta  img{
	display:inline-block;
	vertical-align: middle;
	width:25px;
	margin-right: 5px;
	filter: invert(0.5);
}


article{
	position: relative;
	background-color: rgb(26,26,26);
}

article .article-image{
	background-image: url(../img/new.png);
	display: block;
	height: 300px;
	position: relative;
	background-size: cover;
}

article .gradient{
	display: block;
	height: 300px;
	position: absolute;
	top:0px;
	left: 0px;
	background-color: rgb(0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(26,26,26,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(26,26,26,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(26,26,26,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1a1a1a',GradientType=0 ); /* IE6-9 */	height: 300px;
	width: 100%;
}


article .article-image h3{
	position: absolute;
	bottom:0px;
	left:0px;
	z-index: 98;
	margin:0px;
	padding:0px 20px;
}

article p{
padding:20px;
}





footer{
	margin-top: 40px;
	display: inline-block;
	text-align: center;
	font-size: 13px;
	background-color: black;
	padding:40px 60px;
	box-sizing: border-box;
}


@media screen and (max-width:768px){

	#repeat-lounge{
		height: 170px;
	}
    div.nav{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    z-index: 99;


    }

    .logo {
    display: none;
	}

	.nav li img {
	    margin: 0px;
	}

	li {
	    display: inline-block;
	    float: left;
	    widthcalc(100% / 4):;
	    width: calc(100% / 4);
	}

	ul {
	    width: 100%;
	    line-height: 60px;
	    height: 60px;
	    margin: 0px;
	    vertical-align: middle;
	}

	.nav li img {
	    width: 100%;
	    margin: 0px;
	    vertical-align: middle;
	    max-width: 25px;
	}

	main {
	    left: 0px;
	    width: 100%;
	    margin-bottom: 50px;
	}

	.latest-news, .sidebar{
		width:100%;
	}

	footer{
		margin-top: 0px;
	}
}


@media screen and (max-width:1280px){


.sidebar .story-cta{
	text-align: center;
	font-weight: bolder;
	display: block;
	padding: 30px 0px;
	color:rgb(255,17,77);
	text-decoration: none;
	font-size: 15px

}

	.latest-news, .sidebar{
		width:100%;
	}


}

